@using Asp.NetStudentManagementSystem.Models

@{
    ViewData["Title"] = "Düzəliş et";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model Group
<table class="subjects-table table table-striped table-bordered">
</table>
<div class="container d-flex justify-content-center p-3">
    <form class="col-6" method="post" asp-controller="Group" asp-action="Update">
        <label asp-for="Name">Ad</label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>

        <div class="form-input-control mt-2 mb-3">
            <select asp-for="DepartmentId" class="gender-selection w-100 form-control">
                 <option value="">-- Aid olduğu şöbəni seçin --</option>
                @foreach (var item in (ViewBag.Departments as List<Department>))
                {
                <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <button type="submit" class="btn btn-primary" style="background-color:#144365;border:none">Düzəliş et</button>
    </form>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}

