@using Asp.NetStudentManagementSystem.ViewModels
@{
    Layout = null;
}

@model UserRegistrationVM
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
    <main>
        <a asp-controller="Account" asp-action="Login" class="text-secondary text-decoration-none back-arrow"><i class="fa-solid fa-arrow-left me-2"></i>Geri</a>
        <div class="container">
            <div class="login-left">
                <div class="login-left-container">
                    <div class="login-left-title">
                        <img class="logo" width="100" src="https://upload.wikimedia.org/wikipedia/az/0/01/UNEC.svg" alt="">
                        <h1 class="uni-name">Azərbaycan Dövlət İqtisad Universiteti</h1>
                        <h2 class="uni-name-abr">UNEC</h2>
                    </div>
                    <div class="login-left-actions mt-4">
                        <div class="info-logo">
                            <i class="fa-solid fa-circle-info info-logo-icon" style="font-size: 70px;"></i>
                        </div>
                        <div class="actions">
                            <ul class="actions-list">
                                <li><a href="" target="blank">Sənəd qəbulu</a></li>
                                <li><a href="" target="blank">Yenidənhazırlanma təhsili</a></li>
                                <li><a href="" target="blank">Təkrar ali təhsil</a></li>
                                <li><a href="" target="blank">Əcnəbi tələbələrin təhsili</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-right">
                <div class="login-right-container">
                    @if (ViewBag.IsVerified == true)
                    {
                        <div class="d-flex justify-content-center">
                            <div class="alert alert-success w-75" role="alert">
                                <span class="text-dark">Your email has been verified succesfully!</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex justify-content-center">
                            <div class="alert alert-danger w-75" role="alert">
                                <span class="text-dark">Something went wrong or your token has been expired!</span>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/assets/js/script.js"></script>
</body>
</html>
